{% extends "layout.html" %}

{% block page_content %}
<h1>{{titulo}}</h1>
<br>
<table class="table">
   <thead class="thead-dark">
     <tr>
       <th scope="col">Id</th>
       <th scope="col">Descripción</th>
       <th scope="col">Valor Unitario</th>
       <th scope="col">Unidad Medida</th>
       <th scope="col">Cantidad Stock</th>
       <th scope="col">Categoría</th>
       <th scope="col">Controles</th>

     </tr>
   </thead>
   <tbody>
     {% for producto in productos %}
     
         <tr>
             <th scope="row">{{producto.id}}</th>
             <td>{{producto.descripcion}}</td>
             <td>{{producto.valor_unitario}}</td>
             <td>{{producto.unidad_medida}}</td>
             <td>{{producto.cantidad_stock}}</td>
             <td>{{producto.categoria}}</td>
             <td>
               <button type="button" class="btn btn-info">Editar</button>
               <button type="button" class="btn btn-danger">Borrar</button>
             </td>
         </tr>
      {% endfor %}
   </tbody>
 </table>
{% endblock %}